!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .jumbotron
        %h1
          ToDo
          %small Tutorial application
        = link_to 'new task', new_task_path, class: 'btn btn-primary', remote: true
    = yield